body {
    background-color: rgb(6, 44, 92);
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    --primary-color: #ea580c;
}

.heading {
    max-width: 50%;
    margin: auto;
    font-size: 2em;
    color: var(--primary-color);
}

.your-word-text {
    margin: 2em auto 0;
    font-size: 1em;
    color: #fff;
}

.word {
    margin: 0 auto 1.3em;
    font-size: 2em;
    color: #fff;
}

.button {
    max-width: 50%;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.5em;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 2em;
    cursor: pointer;
}

.previous-word {
    margin: 2.5em auto 0;
    max-width: 50%;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    font-style: italic;
}

.old-words {
    font-weight: normal;
    font-style: normal;
}

